@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

@font-face {
    font-family: triforce;
    src: url(components/triforce/Triforce.ttf);
}

@media(max-width:810px) {
    #first {
        font-size: 7vmax;
    }
    #hero-switch{
        min-width: 25vmax;
    }
   .container_int {
        margin-top: 1vmax;

   }
   #classhero{
       margin-top: 50vmax;
       font-size: 6vmax;
 }
    #btn img{
        margin-top: 32vmax;
        min-width: 45vmax;
        transition: -2s;
    }
}

@keyframes btn-open{
    from{
        width: 29vw;
        transition: 1s;
    }
}

@keyframes backflow {
    0%{
        background-position: 0% 50%;
    }
    
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@keyframes flow { 
    from{
        transform: translate(-50%, -110%);
    }
    to {
        transform: translate(-55%, -112%);
 
  } 
}

@keyframes smoke {
   from{ 
        transform: translate(-15px,-40px);
        opacity:0;
        filter: blur(5px);
    }
}

* {
    padding: 0;
    margin: 0; 
}


body{
    height: auto;
    background: rgba(0, 0, 0, 0.445);
    background-image: url(media/background.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: auto;
    color: whitesmoke;
    font-family: 'triforce';
    font-size: 16px;
    font-variant: small-caps;
    transition: all 1s;
    animation: 300s ease-in-out infinite alternate backflow;
    overflow-wrap: break-word;

}




header{
    margin-top: 6vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transition: all 1ms;
    animation: 10s 1ms ease-in-out infinite alternate smoke;
}





h1{  

    font-weight: bold;
    background-image: linear-gradient(to bottom, #750200, #ac4523, #fd9153, #fffd6c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:  4.5vmax;
    text-align: center;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.356);

}


.container_int{
    padding: 2vmax;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}



h2{
    margin-top: 22vmax;
    background-image: linear-gradient(to bottom, #750200, #ac4523, #f07833, #FCF854);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 4vmax;
    text-align: center;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.452);

}

button{
    margin-top: 24vmax;
    position: absolute;
    background: none;
    border:none;
    padding: 0;
}

button img{
    width: 30vw;
    opacity: 0.5;
    padding: 0;
}

button img:hover{
    transition: 1s;
    animation: 1s 1ms ease-in-out infinite alternate btn-open;
    cursor: pointer;
    opacity: 1;
}



button img:active{
    transform: translate(5px, 5px);
    transition: -2.5s;
}


#hero-switch{
    position: absolute;
    transition: all 1ms;
    width: 13vmax;
    filter: drop-shadow(20px 10px 3px rgba(0, 0, 0, 0.623));
    animation: 4s ease-in-out infinite alternate flow;
}




footer{
    margin-top: 20vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.445);
    text-decoration: none;
    color: whitesmoke;
}

#fim{  
    padding: 1vmax;
    font-size: smaller;
    text-decoration: none;
    color: whitesmoke;
}

a{
    
    text-decoration: none;
    color: whitesmoke;
    transition: all 700ms;
}

a:hover{
    color: #ff130f;
    cursor: pointer;
}